@tailwind base;
@tailwind components;
@tailwind utilities;

.lili {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.lili-gap {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.padding {
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
}
